aclocal.m4
Makefile.in
build-aux
config.h.in
config.h
configure
debian/
Makefile
autom4te.cache
config.log
config.status
stamp-h1
config.h.in~
**/*.plist
*.swp
*.swo
mlvpn-*.tar.gz
test/
debian/mlvpn.debhelper.log
debian/mlvpn.postinst.debhelper
debian/mlvpn.postrm.debhelper
debian/autoreconf.after
debian/autoreconf.before
.version
.tarball-version
