aclocal.m4
Makefile.in
build-aux
config.h.in
config.h
configure
Makefile
autom4te.cache
config.log
config.status
stamp-h1
config.h.in~
**/*.plist
*.swp
*.swo
mlvpn-*.tar.gz
.version
test/
debian/mlvpn.debhelper.log
debian/mlvpn.postinst.debhelper
debian/mlvpn.postrm.debhelper
