Source: mlvpn
Maintainer: Laurent Coustet <ed@zehome.com>
Section: net
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 8),
               dh-autoreconf,
               autoconf,
               automake,
               libev-dev,
               libsodium-dev,
               libpcap-dev,
               ruby-ronn,
               dh-autoreconf,
               pkg-config
Build-Conflicts: autoconf2.13, automake1.4
Vcs-Git: git://git@github.com/zehome/MLVPN.git
Vcs-browser: https://github.com/zehome/MLVPN.git
Homepage: http://www.mlvpn.fr/

Package: mlvpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, net-tools, adduser, passwd, libev4, libsodium18, libpcap0.8
Description: MultiLink Virtual Public Network aggregator.
 MLVPN aggregates multiple links into one tun/tap tunnel.
